<!--close app-->
</div>
<!--close the container-->
</div>
<script src="moduleJQ/jquery.min.js"></script>
<script src="modulePop/popper.min.js"></script>
<script src="scripts/email.js"></script>
</body>

</html>