<div id="footer">
  <footer>
    <blockquote class="text-muted text-center">Vasiliki Loukoumi, 2018</blockquote>
    <div class="text-center">
    <button class="btn-info" data-container="body" data-toggle="popover" data-placement="right" title="â„¹ï¸ Information"
            data-content="An email application made with express.js and the ejs templating engine! Validation is handled with express-validator!
            Bootstrap is used for the UI! Icons are from: 'https://emojipedia.org'.">
      About</button>
    </div>
      </footer>
</div>
