
	<div id="navigation">
    <div class="container">
      <nav class="navbar-nav navbar-default navbar-static-top" role="navigation">
        <ul class="list-inline">
          <li class="list-group-item-heading">
            <div class="text-center">
              <a id="home" class="list-group-item-text navbar-brand" href="/">Home</a>
            </div>
              </li>
        </ul>
      </nav>



    </div>
		<!--close navigation-->
	</div>

