<% include partials/start.ejs %>
<% include partials/nav.ejs %>
<div id="feedback">
<h1 class="jumbotron text-center nodecolor">Feedback</h1>
<div class="panel">
<blockquote class="text-center lead">
<%= data %> on <%= new Date().toString() %>.
</blockquote>
</div>
</div>
<% include partials/footer.ejs %>
<% include partials/finish.ejs %>
