<% include partials/start.ejs %>
<% include partials/nav.ejs %>
<div id="feedback">
<h1>Feedback</h1>


<blockquote>
Message sent on <%= new Date().toString() %>.
</blockquote>
<br>
<button><a href="/">Home</a></button>
</div>
<% include partials/footer.ejs %>
<% include partials/finish.ejs %>