<% include partials/start.ejs %>
<% include partials/nav.ejs %>
<div id="form">
<h1 class="jumbotron text-center nodecolor">Send message:</h1>

<form id="messageForm" method="POST" action="/feedback">

<input type="hidden" name="myemail" value="<%= data.useremail %>"/>

<input type="hidden" name="mypass" value="<%= data.userpassword %>"/>

<div class="form-group">
<label for="email" class="control-label">Recipient address:</label>
<input class="form-control" type="email" name="email" data-toggle="tooltip" data-placement="top" title="Enter recipient address!"/>
</div>
<div class="form-group">
<label for="subject" class="control-label">Subject:</label>
<input class="form-control" type="text" name="subject" data-toggle="tooltip" data-placement="top" title="Enter subject!"/>
</div>
<div class="form-group">
<label for="msg" class="control-label">Message:</label>
<textarea class="form-control" name="msg" data-toggle="tooltip" data-placement="top" title="Enter message!"></textarea>
</div>
<input type="submit" value="submit" class="btn-primary" class="form-control"/>
</form>


</div>
<% include partials/footer.ejs %>
<% include partials/finish.ejs %>