<% include partials/start.ejs %>
<% include partials/nav.ejs %>
<div id="landing">
<h1 class="jumbotron text-center nodecolor">📨
Express Email Service</h1>
<h2 class="text-center text-primary">Credentials</h2>

<div id="userForm">
<form action="/form" method="post">
<div class="form-group">
<label for="useremail" class="control-label">
Email:
</label>
<input type="email" name="useremail" value="" class="form-control" data-toggle="tooltip" data-placement="top" title="Enter your email!"/>
</div>
<div class="form-group">
<label for="userpass" class="control-label">
Password:
</label>
<input type="password" name="userpassword" value="" class="form-control" data-toggle="tooltip" data-placement="top" title="Enter your password!"/>
</div>
<input type="submit" value="submit" class="btn-primary" class="form-control"/>
</form>
</div>
</div>
<% include partials/footer.ejs %>
<% include partials/finish.ejs %>