<% include partials/start.ejs %>
<% include partials/nav.ejs %>
<div id="landing">
<h1>Express Email Service</h1>
<h2>Credentials</h2>

<div id="userForm">
<form action="/form" method="post" >
<label for="useremail">
Email:
</label>
<input type="email" name="useremail" value=""/>
<label for="userpass">
Password:
</label>
<input type="password" name="userpassword" value=""/>
<input type="submit" value="submit"/>
</form>
</div>
</div>
<% include partials/footer.ejs %>
<% include partials/finish.ejs %>