<% include partials/start.ejs %>
<% include partials/nav.ejs %>

<div id="landing">
<div class="text-center">
<h1 class="jumbotron nodecolor" data-toggle="tooltip" data-placement="right" title="Email application with Express.js">📨
Express Email Service</h1>
<h2 class="text-primary">Credentials</h2>
</div>

<div id="userForm">

<form action="/form" method="post">

<div class="form-group">
<label for="useremail" class="control-label">
Email:
</label>
    <input type="email" name="useremail" value="<%=sessionData.useremail%>" class="form-control" data-toggle="tooltip" data-placement="top" title="Enter your email!" required />
</div>
<div class="form-group">
<label for="userpass" class="control-label">
Password:
</label>

<input type="password" name="userpassword" value="<%=sessionData.userpassword%>" class="form-control" data-toggle="tooltip" data-placement="top" title="Enter your password!" required />



</div>
<input type="submit" value="submit" class="btn-primary" class="form-control"/>

</form>
</div>
</div>
<% include partials/footer.ejs %>
<% include partials/finish.ejs %>