body{
    background-color:dodgerblue;
}
.container{   
    margin-top:6%;
    display:block;
    background-color:aliceblue;
    
}

#footer {
    margin-top: 5%;
}

.nodecolor {
    color: #47A842;
}

#backBtn{
    color:white;
}

li {
    margin: 2%;
}

#backbtnDiv{
    margin-top:2%;
}

a:hover {
    transform:scale(1.2,1.2);
}

.btn-primary:hover{
    transform:scale(1.2,1.2);
}

.btn-info:hover {
    transform: scale(1.2,1.2);
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

