body{
    background-color:dodgerblue;
}
.container{   
    margin-top:6%;
    display:block;
    background-color:aliceblue;
    
}

#footer {
    margin-top: 5%;
}

.nodecolor {
    color: #47A842;
}

#backBtn{
    color:white;
}

li {
    margin: 2%;
}

#backbtnDiv{
    margin-top:2%;
}